@import "tailwindcss";
@import "@nuxt/ui";

body {
    font-family: 'DM Sans', sans-serif;
}

/*

    TailwindCSS classes

*/

.text-ui {
    color: var(--ui-text);
}

.text-primary {
    color: var(--ui-primary);
}

.bg-text {
    background-color: var(--ui-text);
}

.bg-elevated {
    background-color: var(--ui-bg-elevated);
}

.bg-accented {
    background-color: var(--ui-bg-accented);
}

.rounded-ui {
    border-radius: var(--ui-radius);
}

.rounded-ui-double {
    border-radius: calc(var(--ui-radius) * 2);
}

/* Markdown */

.markdown-renderer {
    @apply text-justify pr-2 -mt-5 flex flex-col pb-10;
}

.markdown-renderer h1 {
    @apply text-3xl font-bold mt-8 mb-4;
}

.markdown-renderer h2 {
    @apply text-2xl font-bold mt-6 mb-2;
}

.markdown-renderer h3 {
    @apply text-xl font-bold mt-5;
}

.markdown-renderer h4 {
    @apply text-lg font-bold mt-5 -mb-2;
}

.markdown-renderer p {
    @apply mt-3;
}

.markdown-renderer code {
    background-color: var(--ui-bg-elevated);
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: calc(var(--ui-radius) * 1.5);
}

.markdown-renderer a[rel="nofollow"] {
    color: var(--ui-primary);
    text-decoration: underline;
}

.markdown-renderer a[class] {
    color: var(--ui-primary);
    text-decoration: underline;
}

.markdown-renderer img {
    border-radius: calc(var(--ui-radius) * 3);
    max-width: 80%;
    max-height: 600px;
    margin: 0 auto;
}

.markdown-renderer .image-title {
    color: var(--ui-text-muted);
    line-height: 2.5rem;
    text-align: center;
    padding-top: 20px;
    background-color: var(--ui-bg-muted);
    border-radius: calc(var(--ui-radius) * 2);
}

.markdown-renderer ul {
    list-style: inside;
    @apply ml-5 mb-2;
}

.markdown-renderer li {
    @apply mt-2;
}

.markdown-renderer table {
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: calc(var(--ui-radius) * 2);
    background-color: var(--ui-bg-elevated);
    overflow: hidden;
}

.markdown-renderer table th {
    background-color: var(--ui-bg-accented);
    padding: 15px;
}

.markdown-renderer table td {
    border: 2px solid var(--ui-border-accented);
    padding: 15px;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 1000px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb {
    background: var(--ui-border-accented);
    border-radius: 1000px;
}

.hide-scroll::-webkit-scrollbar {
    width: 0px;
}